@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* frequently used color:
    background-color: #686de9;
    background-color: #9f68e0;
    background-color: #8344ad:
    border:1px solid  #999
    background-color: #eee;
    background-color: #9fa4a8;
    background-color :#2b88f0;
    background-color: #f0932b;
    background-color: #273c75 ;
    background-color: #fc0; CBA color
    background-color: #1e1e1e; CBA color
    background-color: #e74c3c;
    background-image:linear-gradient(to bottom, #eafbff 0%,#eafbff 50%, #5290f9 50%, #5290f9 100%)
*/

/* :root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
} */
/*  font-color:
    color:#555;
    color:#eee;
*/
/* shadows
    box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
   
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    box-shadow:1px 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 0.3);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);

*/

/* icon:
     <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>   v 
          <i class="fas fa-times"></i>          x
     </button>
*/
/*
   button tag specify width height display:flex, then set border-radius=50%, can become an around button 
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ecf0f1;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

img {
  max-width: 100%;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}

.card-header {
  height: 200px;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content {
  background-color: #fff;
  padding: 30px;
}

.card-title {
  height: 20px;
  margin: 0;
}
.card-excerpt {
  color: #777;
  margin: 40px 0 20px;
}

.author {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 100px;
}

.author-info small {
  color: #aaa;
  margin-top: 5px;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
