@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* frequently used color:
    background-color: #686de9;
    background-color: #9f68e0;
    background-color: #8344ad:
    border:1px solid  #999
    background-color: #eee;
    background-color: #9fa4a8;
    background-color :#2b88f0;
    background-color: #f0932b;
    background-color: #273c75 ;
    background-color: #fc0; CBA color
    background-color: #1e1e1e; CBA color
    background-color: #e74c3c;
    background-color: #ecf0f1;
    background-image:linear-gradient(to bottom, #eafbff 0%,#eafbff 50%, #5290f9 50%, #5290f9 100%)
*/

/* :root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
} */
/*  font-color:
    color:#555;
    color:#eee;
*/
/* shadows
    box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
   
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    box-shadow:1px 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 0.3);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);

*/

/* icon:
     <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>   v 
          <i class="fas fa-times"></i>          x
     </button>
*/
/*
   button tag specify width height display:flex, then set border-radius=50%, can become an around button 
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow:hidden;
}

body {
  background-color: #2a2a72;
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.user-form {
  width: 100%;
  max-width: 700px;
  display:flex;
  flex-direction: space-between;
}
.btn{
  //margin-left:0.5rem;
  background-color:#4c2885;
  color:#fff;
  font-size: 1rem; 
  width:10%;
  cursor:pointer;
  transform: scale(0.98);
  border-radius:10px;
  box-shadow:1px 1px 3px rgba(0,0,0,0.1);
}
.user-form input {
  width: 100%;
  display: block;
  background-color: #4c2885;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
  margin-bottom:2rem:
  font-family: inherit;
  font-size:1rem;
}

.user-form input::placeholder {
  color:#fff;

}
.user-form input:focus{
  outline:none;
}

.card{
  max-width:800px;
  background-color: #4c2885;
  border-radius:20px;
  display: flex; 
  justify-content: space-between;
  padding: 3rem;
  margin: 1.5rem 1.5rem;

}
.avatar{
  border-radius:50%;
  border:10px solid #2a2a72;
  height:150px;
  width:150px;
  margin-right:2rem;
}
.user-info{
color:#eee;
margin-left:0;
}
.user-info h2{
  margin-top:1rem;
}
.user-info ul{
  list-style-type:none;
  display:flex;
  justify-content:space-between;
  padding:1rem;
  max-width:400px;
}

.user-info ul li strong{
font-size:0.9rem;
margin-left:0.5rem;
}
.repo{
  display:inline-block;
  text-decoration:none;
  color:#fff;
  background-color:#212172;
  font-size:0.7rem;
  padding:0.25rem 0.5rem;
  margin-bottom:0.5rem;
}

@media (max-width:500px){

   .card{
    flex-direction:column;
    align-items:center;
   }

   .user-form{
    max-width:300px;
   }
}
